@import "~bootstrap/dist/css/bootstrap.min.css";

#excuse-container {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
}

#title {
  font-size: 50px;
}
